main {
    width: 100%;
}

.imagen-principal {
    img {
        width: 100%;
        height: 400px;
    }
}

.recuadro1 {
    display: flex;
    margin-top: 0px;

    .recuadro1__texto-derecha {
        background-color: red;
    }
    .recuadro1__texto-izquierda {
        background-color: black;
        color: white;
    }
}

.recuadro2 {
    display: flex;
    
    .recuadro2__texto-derecha {
        background-color: black;
        color: white;
    }
    .recuadro2__texto-izquierda {
        background-color: red;
    }
}