main {
    width: 100%;
}

.main-index {
    background-color: #1E1824;

    .main-index__imagen-principal {
        position: relative;

        h1 {
            color: white;
            position: absolute;
            width: 100%;
            top: 40%;
            text-align: center;
            font-size: 3rem;
        }
        img {
            width: 70%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 20px;
        }
    }
    
    .main-index__recuadro1 {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 150px;
        
        .recuadro1__texto-izquierda {
            position: absolute;
            z-index: 2;
            clip-path: polygon(0 0, 100% 0, 66.7% 100%, 0% 100%);
            background: $degradado;
            width: 60%;
            height: 100%;
            padding-left: 6%;
            @include flex(row, flex-start, center);
        }
        .recuadro1__texto-derecha {
            position: absolute;
            z-index: 1;
            background-color: $main;
            left: 40%;
            padding-left: 18%;
            height: 100%;
            text-align: center;
            padding-bottom: 30px;
            padding-top: 30px;
            color: white;
            @include flex(row, center, center);
            padding-right: 50px;
        }
    }
    
    .main-index__recuadro2 {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 150px;
        
        .recuadro2__texto-izquierda {
            position: absolute;
            z-index: 1;
            background-color: $main;
            padding-right: 18%;
            height: 100%;
            text-align: center;
            padding-bottom: 30px;
            right: 40%;
            padding-top: 30px;
            color: white;
            @include flex(row, center, center);
            padding-left: 50px;
        }
        .recuadro2__texto-derecha {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 33.3% 100%);
            position: absolute;
            z-index: 2;
            background: $degradado;
            width: 60%;
            height: 100%;
            right: 0;
            padding-right: 6%;
            @include flex(row, flex-end, center);
        }
    }
}