footer {
    width: 100%;
    background-color: $resaltado;
    padding: 50px;
    font-size: 18px;

    .footer {
        @include flex(row, center, center);

        .footer__ul {
            @include flex(column, center, center);
            gap: 6px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: rgb(198, 198, 198);
                }
            }
        }
    }
}