header {
    width: 100%;
    background-color: $resaltado;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 50px;
    padding-bottom: 50px;

    .navegador {
        @include flex(row, space-between, center);

        .navegador__enlace-titulo {
            text-decoration: none;
            width: 18%;
            display: flex;
            gap: 5px;
            
            .enlace-titulo__barras {
                background: $degradado;
                -webkit-background-clip: text;
                color: transparent;
                font-family: 'Montserrat', sans-serif;
                font-size: 35px;
            }
            .enlace-titulo__titulo {
                background: $degradado;
                -webkit-background-clip: text;
                color: transparent;
                font-family: 'Montserrat', sans-serif;
                font-size: 35px;
            }
        }
        .navegador__enlaces {
            @include flex(row, space-between, center);
            width: 330px;

            .enlaces__img-menu {
                display: none;
                transition: 0.5s ease;
            }
            .enlaces__input {
                display: none;
            }
            .enlaces__input:checked ~ .enlaces__ul {
                @include flex(column, center, center);
                gap: 5px;
            }
            .enlaces__input:checked ~ .label .enlaces__img-menu {
                transform: rotate(180deg);
                transition: 0.5s ease;
            }
            .enlaces__ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                li {
                    a {
                        text-decoration: none;
                        color: $blanco;
                        font-size: 20px;
                        font-family: 'Ubuntu';
                    }
                    a:hover {
                        background: $degradado;
                        -webkit-background-clip: text;
                        color: transparent;
                    }
                    .enlaces__resaltado-home {
                        background: $degradado;
                        -webkit-background-clip: text;
                        color: transparent;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 670px){
    header .navegador .navegador__enlaces {
        @include flex(column, space-between, flex-end);
        height: 80%;
    }
    header .navegador .navegador__enlaces .enlaces__img-menu {
        display: block;
        width: 40px;
    }
    header .navegador .navegador__enlaces .enlaces__ul {
        z-index: 1;
        display: none;
        position: absolute;
        margin-top: 50px;
        padding-bottom: 30px;
        left: 0;
        background-color: $resaltado;

        li {
            margin-top: 8px;
        }
    }
}